rule_url=https://rules.emergingthreatspro.com/|emerging.rules.tar.gz|open
ignore=local.rules
temp_path=/tmp
rule_path=/etc/suricata/rules/all.rules
sid_msg=/etc/suricatas/rules/id-msg.map
sid_changelog=/var/log//suricata/etpro_sid_changes.log
disablesid=/etc/suricata/rules/disablesid.conf
engine=suricata
suricata_version=3.0.0
version=0.6.0

